@import 'src/less/skins/ui/church-tech-v1/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@media screen {
  html {
    align-items: center;
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    overflow-y: scroll !important;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-size: @minor-third-body;
}

@media screen {
  body {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(2, 15, 13, 0.08);
    line-height: 1.6;
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
    max-width: 48rem;
    overflow-y: scroll !important;
    padding: 2.375rem 4rem;
    width: 100%;
  }
}

h1 {
  font-size: @minor-third-h1;
}

h2 {
  font-size: @minor-third-h2;
}

h3 {
  font-size: @minor-third-h3;
}

h4 {
  font-size: @minor-third-h4;
}

h5 {
  font-size: @minor-third-h5;
}

h6 {
  font-size: @minor-third-h6;
}

.lockedtext {
  border: 0.5px dashed gray;
  border-radius: 5px;
  padding: 2px;
}
